* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 10px;
}

$desktop: 760px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1200px;
}